body {
    background: #F2F2F2;
    font-family: GraphikLCG, sans-serif;
}

.catalog-header {
    display: flex;
    justify-content: right;

}

.wrapper-catalog {
    position: relative;
    display: flex;
    /*width: 80vw;*/
    /*margin: 0 auto;*/
}

.catalog-filters {
    width: 200px;
}

.text-filter {
    margin: 10px 0 10px 0;
    padding: 0;

    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

.catalog-acceptFilters {
    margin: 20px 0 10px 0;
}

.catalog-canselFilters {

}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    /*width: 75vw;*/
}

.card {
    border: none;
    margin: 5px;
    padding: 5px;
    transition: all .3s;
    background: #F2F2F2;
}

.card-title {
    font-size: 2rem;
}

.card-body span {
    font-size: 1.1rem;
}

.card a {
    margin-top: 10px;
}

.card:hover {
    background-color: rgba(128, 128, 128, 0.11);
}

.wrapper-detail {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    background: #F2F2F2;
    height: 100%;
}

.right-menu {
    position: sticky;
    top: 30px;
    margin: 30px 0 0 15px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: white;
    width: 400px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.detail_mainImg {
    max-width: 600px;
    max-height: 600px;

    min-width: 450px;
    min-height: 450px;

    object-fit: cover;
}


.detail__text {
    font-family: GraphikLCG, sans-serif;;
    margin-top: 15px;
}

.detail__text::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.16);
}

.detail__title {
    font-size: 1.8rem;
    margin: 0;
}

.detail__description {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 250;
}


.detail__available {
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 300;
}

.detail__available span {
    font-weight: 500;
    font-size: 1.4rem;
}


.detail__price {
    margin-top: 15px;
}

.detail__textPrice {
    font-size: 1.3rem;
    letter-spacing: 2px;
}


.detail__price button {
    width: 70%;
    font-size: .9rem;
}

.detail__price button span {
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
}


.detail__list {
    margin-top: 25px;
}

.detail__list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;

    list-style: none;
}


.detail__list ul div::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.16);
}

.detail__text ul li {
    margin-left: 20px;
}

.detail__list ul span {
    color: rgba(0, 0, 0, 0.4);
    font-size: .8rem;
    font-weight: 300;
    margin: 0;
}

.detail__list ul p {
    font-size: 1rem;
    margin: 0;
}


.alert-catalog {
    margin: 60px auto;
}

.wrapper-profile {
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.wrapper-person {
    display: flex;
    justify-content: center;
}

.person-information {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 10px;
}

/*.person-label {*/
/*    display: block;*/
/*    text-align: start;*/
/*    margin: 0 0 5px 5px;*/
/*}*/

.person-input {
    width: 230px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.22);
    border-radius: 5px;
    padding: 15px;
}

.person-input::placeholder {
    font-size: .9rem;
}

.person-description-email label {
    padding-left: 38px;
}

/*.person-description-email:before {*/
/*    content: 'Контактная информация';*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left: 53px;*/
/*    top: -5px;*/
/*    font-weight: bold;*/
/*}*/


.cart-list {
    position: absolute;
    width: 350px;
    height: 500px;
    z-index: 5;
    border-radius: 10px;
    top: 35px;
    right: 0;
    background: rgba(0, 0, 0, 0.38);
}

.cart-list.active {
    display: flex;
}

.cart-list.disabled {
    display: none;
}

.login-page {
    margin: 150px auto;
    width: 500px;
}

.login__fields {
    display: flex;
    flex-direction: column;
}

.login__fields {
    margin-top: 10px;
}

.login__fields input {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

.login__button {
    margin-top: 20px;
}

.login__link-reg {
    display: inline-block;
    margin-top: 5px;
}

.modal-body {

}

.test {
    display: flex;
    flex-wrap: wrap;
}

.test div {
    width: 65px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

/* Стили модального окна */
.modal-report {
    /* Скрываем модальное окно по умолчанию */
    opacity: 0;
    position: fixed;
    z-index: 10;
    left: 50px;
    top: 100px;
    margin: 0;
    padding: 0;

    width: 200px;
    height: 200px;

    overflow: auto;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*----------*/
/*dropdown*/
.dropdown {
    display: inline-block;

}

.dropdown-toggle {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    display: none;
    transition: opacity .5s;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    animation: dropdown-animation 0.3s ease-in-out;
}

@keyframes dropdown-animation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*----------*/
.modal-review {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentReview {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-review {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-review:hover,
.close-review:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*---Modal Review---*/
.review {
    margin: 10px 0;
    padding: 10px 5px;
    border: 1px solid rgba(73, 72, 72, 0.75);
    border-radius: 5px;
}

.review-header {
    border-bottom: 1px solid #b7b7b7;
}

.modal-reviewFilter {
    margin-left: 20px;
}

.review-username {
    margin: 0;
    padding: 0;

    font-size: 1.5rem;
}

.review-rating {
    margin: 0;
    padding: 0;
}

.review-wrapperPhoto {
    padding: 5px;

}

.review-photo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
}

/*---End Modal Review---*/

.createReview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personalInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalInformation input {
    margin: 5px;
    text-align: center;
    width: 400px;
}

.personalInformation button {
    width: 200px;
    margin-top: 20px;
}
