{% extends "main/layout.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <h1 style="text-align: center; margin: 10px 0;">Корзина</h1>
    <table class="cart" style="margin: 0 auto">
        <thead>
        <tr>
            <th style="padding: 20px">Изображение</th>
            <th style="padding: 20px">Продукт</th>
            <th style="padding: 20px">Количество</th>
            <th style="padding: 20px">Удалить?</th>
            <th style="padding: 20px">Цена за 1 товар</th>
            <th style="padding: 20px">Размер</th>
            <th style="padding: 20px">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr style="border: 1px solid gray">
                    <td style="padding: 0 20px">
                        <img src="{{ product.image_prev.url }}" alt="{{ item.name_item }}"
                             style="width: 200px; height: 200px; object-fit: cover;">
                    </td>
                    <td style="font-size: 20px; width: 200px; padding: 0 20px">{{ product.name_item }}</td>
                    <td style="padding: 0 20px">{{ item.quantity }}</td>
                    <td style="padding: 0 20px"><a
                            href="{% url "main:cart_remove" product.id item.size_id %}">Remove</a></td>
                    <td style="padding: 0 20px" class="num">${{ product.price }}</td>
                    <td style="padding: 0 20px" class="num">{{ item.size }}</td>
                    <td style="padding: 0 20px" class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td colspan="4"></td>
            {% if cart.get_total_price != 0 %}
                <td class="num" style="padding: 0 20px">${{ cart.get_total_price }}</td>
            {% endif %}

        </tr>
        </tbody>
    </table>
    <div style="text-align: center">
        <p class="text-right">
            <a href="{% url "main:catalog" %}" class="button light" style="margin-right: 10px;">Continue shopping</a>
            <a href="{% url "main:check" %}" class="button">Checkout</a>
        </p>
    </div>

{% endblock %}
