{% extends 'main/layout.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <div style="display: flex; margin: 30px auto; position: relative; width: 80vw;">
        <div>
            <div class="catalog-header">
                Header
            </div>
            <div class="wrapper-catalog">
                <div class="catalog-filters">
                    <form id="filter-form" method="post">
                        {% csrf_token %}
                        <p class="text-filter">Категории</p>
                        {{ category_form.categories }}
                        <p class="text-filter">Пол</p>
                        {{ category_form.gender }}
                        <p class="text-filter">Фильтровать продукты по</p>
                        {{ category_form.sort_by }}
                        <button class="btn btn-dark catalog-acceptFilters">Принять фильтры</button>
                        <a class="btn btn-secondary catalog-canselFilters" href="{% url "main:catalog" %}">Сбросить
                            фильтры</a>
                    </form>
                </div>

                <div class="catalog-items">
                    {% if items_list %}
                        {% for item in items_list %}
                            <div class="card" style="width: 18rem"
                                 onclick="window.location.href = '{% url 'main:details_product' item.id %}'">
                                <img class="card-img-top" src="{{ item.image_prev.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <div style="height: 4.5rem; overflow: hidden">
                                        <h5 class="card-title">{{ item.name_item }}</h5>
                                    </div>
                                    <span>Релиз: {{ item.release.day }}.{{ item.release.month }}.{{ item.release.year }}</span>
                                    <br/>
                                    <span>Цена: {{ item.price }}$</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert-catalog">
                            <div class="alert alert-danger" role="alert">
                                Вещей не найдено
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
