{% extends 'main/layout.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}

    <div style="display: flex; margin: 30px auto; position: relative; width: 80vw;">
        <div>
            {% if sale_check %}
                <div style="width: 80vw; background: rgba(255,0,0,0.49); text-align: center; font-size: 1.2rem"
                     class="catalog-header">
                    На первую покупки скидка 10%!!!
                </div>
            {% endif %}

            <div class="wrapper-catalog">
                <div class="catalog-filters">
                    <form method="get">
                        <div style="border-bottom: 1px solid gray; padding-bottom: 5px">
                            <p style="margin: 5px 0; font-weight: 600">Категории</p>
                            {{ filterset.form.category }}
                        </div>
                        <div style="border-bottom: 1px solid gray; padding-bottom: 5px">
                            <p style="margin: 10px 0; font-weight: 600">Цена</p>
                            <div style="display: flex; justify-content: space-around">
                                <span>От</span>
                                <span>До</span>
                            </div>
                            <div class="catalog-priceFilter">
                                {{ filterset.form.min_price }}
                                {{ filterset.form.max_price }}
                            </div>
                        </div>
                        <div>
                            <p style="margin: 10px 0; font-weight: 600">Сортировать по:</p>
                            {{ filterset.form.order_by }}
                        </div>

                        <div style="display: flex; flex-direction: column;">
                            <button type="submit" class="btn btn-dark" style="margin: 15px 0 5px 0;">Применить</button>
                            <a href="{% url 'main:catalog' %}" style="margin: 10px 0;">Сбросить фильтры</a>
                        </div>
                    </form>
                </div>
                <div class="catalog-items">
                    {% if filterset.qs %}
                        {% for item in page_obj %}
                            <div class="card" style="width: 14rem"
                                 onclick="window.location.href = '{% url 'main:details_product' item.id %}'">
                                <img class="card-img-top" src="{{ item.image_prev.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <div style="height: 4.5rem; overflow: hidden">
                                        <h5 class="card-title">{{ item.name_item }}</h5>
                                    </div>
                                    <span>Релиз: {{ item.release.day }}.{{ item.release.month }}.{{ item.release.year }}</span>
                                    <br/>
                                    <span>Цена: {{ item.price }} руб.</span>
                                </div>
                            </div>
                        {% empty %}
                            <div class="alert-catalog">
                                <div class="alert alert-danger" role="alert">
                                    Вещей не найдено
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="pagination">
                <div class="step-links">
                    {% if page_obj.has_previous %}
{#                        <a href="?page=1{% if filtered_query_string %}&{{ filtered_query_string }}{% endif %}">Первая</a>#}
                        <a href="?page={{ page_obj.previous_page_number }}{% if filtered_query_string %}&{{ filtered_query_string }}{% endif %}"> < </a>
                    {% endif %}
                    <span class="current-page">Страница {{ page_obj.number }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if filtered_query_string %}&{{ filtered_query_string }}{% endif %}"> > </a>
{#                        <a href="?page={{ page_obj.paginator.num_pages }}{% if filtered_query_string %}&{{ filtered_query_string }}{% endif %}">Последняя</a>#}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
