{% extends 'main/layout.html' %}

{% block title %}{{ item.name_item }}{% endblock %}

{% block content %}
    <div class="wrapper-detail">
        <div class="left-menu detail_cover-img">
            <div>
                <img class="detail_mainImg" src="{{ item.image_prev.url }}" alt="">
            </div>
            {% for photo in photos %}
                <div>
                    <img class="detail_mainImg" src="{{ photo.images.url }}" alt="123">
                </div>
            {% endfor %}
        </div>
        <div class="right-menu">
            <div class="detail__text">
                <p class="detail__title">{{ item.company.name_company }}</p>
                <p class="detail__description">{{ item.name_item }}</p>
                <button type="button" class="btn btn-dark" style="margin-bottom: 30px;" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Выбрать размер
                </button>


                <div>
                    {% if choiceSize %}
                        <form action="{% url 'main:cart_addTrue' product_id=item.id size_id=choiceSize.id %}"
                              method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <button type="submit" class="btn btn-success">
                                Купить<br><span>размер: {{ choiceSize.size }}</span></button>
                        </form>
                    {% endif %}
                </div>


            </div>
            <div class="detail__price" style="padding-left: 10px;">
                <p class="detail__textPrice">{{ item.price }} $</p>
            </div>
            <div class="detail__list">
                <ul>
                    <li>
                        <div>
                            <span>Название</span>
                            <p>{{ item.name_item }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>Код товара</span>
                            <p>{{ item.id }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="{% url "main:favorite_add" item.id %}">В избранное</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Описание</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Выберете размер обуви</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for size in sizes %}
                            <a class="btn btn-dark"
                               href="{% url "main:details_product" item_id=item.id size_id=size.id %}">{{ size.size }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div id="myModalReport" class="modal-report">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
