{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div>
        <div class="wrapper-home"
             style="width: 35vw; overflow: hidden; object-fit: cover; margin: 20px auto; border: 1px solid black;">
            <h2 style="text-align: center">Новые поступления</h2>
            <div class="wrapper__slider">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for product in recent_release %}
                            {% if forloop.counter == 1 %}
                                <div class="carousel-item active" data-bs-interval="3500">
                                    <img src="{{ product.image_prev.url }}" class="d-block w-100" alt="...">
                                    <div style="text-align: center;">
                                        <p>{{ product.name_item }}</p>
                                        <p>{{ product.release.day }}:{{ product.release.month }}:{{ product.release.year }}</p>
                                    </div>

                                </div>
                            {% else %}
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="{{ product.image_prev.url }}" class="d-block w-100" alt="...">
                                    <div style="text-align: center;">
                                        <p>{{ product.name_item }}</p>
                                        <p>{{ product.release.day }}:{{ product.release.month }}:{{ product.release.year }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
