{% extends 'main/layout.html' %}

{% block title %}
    Покупки
{% endblock %}

{% block content %}
    <div class="listPurchases-wrapper">
        <div class="listPurchases">
            <div>
                <h1>Ваши покупки</h1>
            </div>
            <div>
                <div style="display: flex; justify-content: center; margin-top: 10px;">
                    <ul class="list-group">
                        {% for purchase in list_purchases %}
                            <li
                                    class="list-group-item d-flex justify-content-between align-items-center"
                                    style="width: 500px;"
                                    onclick="window.location.href = '{% url 'main:purchase_detail' purchase.pk %}'"
                            >
                                Покупка сделанная в {{ purchase.created_at }}
                                <span class="badge bg-primary rounded-pill">Кол-во товаров: {{ purchase.count_products }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
