{% extends 'users/layoutProfile.html' %}


{% block profileContent %}
    <div class="wrapper-person">
        <div class="person-information">
            <label class="person-label" for="last-name">Имя</label>
            <input disabled class="person-input" type="text" id="last-name" placeholder="Введите имя"
                   value="{{ user.first_name }}">
        </div>
        <div class="person-information">
            <label class="person-label" for="first-name">Фамилия</label>
            <input disabled class="person-input" type="text" id="first-name" placeholder="Введите фамилию"
                   value="{{ user.last_name }}">
        </div>
    </div>
    <div style="margin-top: 30px">
        <div class="person-information" style="display: flex; justify-content: center">
            <div class="person-description-email">
                <label for="email" class="person-label" style="margin-top: 15px">Почта</label>
                <input disabled type="email" class="person-input" id="email" value="{{ user.email }}"
                       style="width: 480px" placeholder="Введите почту">
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <a class="btn btn-dark" style="margin-top: 25px"
           href="{% url 'users:logout' %}">Выйти?</a>
        <br/>
        <a class="btn btn-secondary" style="margin-top: 15px" href="{% url 'users:profile_edit' %}">Изменить данные</a>
    </div>
{% endblock %}
