{% extends 'main/layout.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <div class="wrapper-catalog">
        {% if items_list %}
            {% for item in items_list %}
                <div class="card" style="width: 18rem"
                     onclick="window.location.href = '{% url 'main:details' item.id %}'">
                    <img class="card-img-top" src="{{ item.cart_img.url }}" alt="Card image cap">
                    <div class="card-body">
                        <div style="height: 4.5rem; overflow: hidden">
                            <h5 class="card-title">{{ item.name_item }}</h5>
                        </div>
                        <span>Релиз: {{ item.release.day }}.{{ item.release.month }}.{{ item.release.year }}</span>
                        <br/>
                        <span>Цена: {{ item.price }}$</span>

                        {#                        <a href="#" class="btn btn-dark btn-buy">Добавить в корзину</a>#}
                        <form action="{% url "cart:cart_add" item.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark btn-buy">
                                Добавить в корзину
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert-catalog">
                <div class="alert alert-danger" role="alert">
                    Вещей не найдено
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
